.btn {

    &__tag {

        
        padding: 5px 15px 5px 15px;
        color: $colorBlack;
        background-color: $colorGrey;
        cursor: pointer;
        border-radius: 40px;
        border: 0px;
        text-align: center;
        text-decoration: none;
        margin-top: -100px;
        @include font-style (qanelasRegular, 15px, 0px);

        
        
        &:hover {
            background-color: $colorTurquoise;
        }
        &:active {
            background-color: $colorTurquoise;
        }

        &--event {
            padding: 10px;

            &--compartir {
                border: $colorWhite 2px solid;
                padding: 15px;
                background-color: $colorWhite;
                cursor: pointer;
                border-radius: 40px;
                text-align: center;
                text-decoration: none;
                margin-right: 15px;
                @include font-style (qanelasRegular, 15px, 0px);
                box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.10);
                
                
                @media all and (max-width: 1100px) {
                    margin-bottom: $unit-medium;
                }

                &:hover {
                    background-color: $colorTurquoise;
                    border: $colorTurquoise 2px solid;
                    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.10);
                }

            }

            &--like {
                border: $colorTurquoise 2px solid;
                padding: 15px;
                background-color: $colorTurquoise;
                cursor: pointer;
                border-radius: 40px;
                text-align: center;
                text-decoration: none;
                box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.10);
                @include font-style (qanelasRegular, 15px, 0px);

                @media all and (max-width: 1100px) {
                    margin-bottom: $unit-medium;
                }

                &:hover {
                    background-color: $colorWhite;
                    border: $colorWhite 2px solid;
                    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.10);
                }

            }
        }
    }

    &__cta {

            &--orange {
            background-color: $colorOrange;
            text-align: center;
            padding: 35px 15px 34px 15px;
            width: 100%;
                
                &--ticket{
                    text-align: right;
                    padding: 15px 30px 12px 15px;
                    width: 100%;
                    background-color: $colorOrange;
                    margin-bottom: $unit;

                    a {
                        color: $colorWhite;
                        text-decoration: none;
                    }

                    &:hover {
                        background-color: $colorBlack;
                    }
                }    

                a {
                    color: $colorWhite;
                    text-decoration: none;
                    height: 30px;
                }
                
                &:hover {
                    background-color: $colorBlack;
                }
                
                h3 {
                    margin: 0px;
                }

            }

            &--black {
                padding: 35px 15px 34px 15px;
                width: 100%;
                background-color: $colorBlack;

                &--ticket{
                    text-align: right;
                    padding: 5px 15px 5px 15px;
                    width: 100%;
                    background-color: $colorBlack;

                    a {
                        color: $colorWhite;
                        text-decoration: none;
                        height: 30px;
                    }

                    &:hover {
                        background-color: $colorOrange;
                    }

                    &--soldout {
                        background-color: $colorGreyDark;
                        text-align: right;
                        padding: 5px 15px 5px 15px;
                        width: 100%;

                        a {
                            color: $colorWhite;
                            text-decoration: none;
                            height: 30px;
                        }
                    }
                }

                a {
                    color: $colorWhite;
                    text-decoration: none;
                    height: 30px;
                }
                
                &:hover {
                    background-color: $colorOrange;
                }
                
                h3 {
                    margin: 0px;
                }
                
                
                
            }
    }

    &__header--search {
        display: inline;
        padding: 8px;
        padding-left: 20px;
        margin-top: -5px;
        width: 300px;
        cursor: pointer;
        border-radius: 40px;
        border: 0px;
        text-align: left;
        @include font-style (qanelasRegular, 17px, 25px);
        @media all and (max-width: 550px) {
            width: 100%;
            margin-top: 10px;
    }

    &--link {
        text-decoration: none;
    }

    
}

    &__payment {
                
        &--left {
            border-radius: 2px;
            color: $colorWhite;
            background-color: $colorBlack;
            border: $colorBlack 2px solid;
        }

        &--right {
            border-radius: 2px;
            color: $colorWhite;
            background-color: $colorBlack;
            border: $colorBlack 2px solid;
            margin-right: $margin-medium;
        }
    }
}
  
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $colorBlack;
   
}
  
::-moz-placeholder { /* Firefox 19+ */
    color: $colorBlack;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $colorBlack;
}




