.btn__header--search {
    display: inline;
    padding: 10px;
    width: 300px;
    cursor: pointer;
    border-radius: 40px;
    border: 0px;
    text-align: left;
    @include font-style (qanelasRegular, 17px, 25px);

}

.btn__tag {
    padding: 5px 15px 5px 15px;
    color: $colorBlack;
    background-color: $colorGrey;
    cursor: pointer;
    border-radius: 40px;
    border: 0px;
    text-align: center;
    text-decoration: none;
    margin-top: -100px;
    @include font-style (qanelasRegular, 15px, 0px);
    
    &:hover {
        background-color: $colorTurquoise;
    }
    &:active {
        background-color: $colorTurquoise;
    }
}

.btn__callaction--white {
    text-decoration: none;
    color: $colorWhite;
    &:hover {
        color: $colorWhite;
    }
}

.callaction__orange {
    padding: $padding-small $padding-small;
    background-color: $colorOrange;
    
    &:hover {
        background-color: $colorBlack;
    }
    
    & h3 {
        margin: 0px;
    }
}

.callaction__black {
    padding: $padding-small $padding-small;
    background-color: $colorBlack;
   
    &:hover {
        background-color: $colorOrange;
    }
    
    & h3 {
        margin: 0px;
    }
}