.links {
    padding: $padding-small;
    
    &__search {
        color: $colorBlack;
        padding-bottom: $padding-small;
        text-decoration: none;
        display: grid;
        &:hover {
            color: $colorOrange;
        }
    }
    &__title {
        color: $colorGreyDark;
    }
}

