html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}
.content__widht {
  padding: 30px;
}