//font
@mixin font-style ($fontFamily, $fontSize, $lineHeight) {
        font-family: $fontFamily;
        font-size: $fontSize;
        line-height: $lineHeight;
 }

//links
@mixin style-links {
    a {
        color: $colorBlack;
        
        &:hover {
            color: $colorOrange;
        }
    }
    
}


