h1 {
    @include font-style (whyte, 55px, 60px);
}

h2 {
    @include font-style (whyte, 35px, 55px);
}

h3 {
    @include font-style (whyte, 20px, 0px);
}

h4 {
    @include font-style (qanelasRegular, 25px, 35px);
}

h5 {
    @include font-style (qanelasRegular, 12px, 25px);
}

p {
    @include font-style (qanelasRegular, 17px, 30px);
}

.event__title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.event__location {
    color: $colorOrange;
    margin-top: 0px;
    margin-bottom: $unit-medium;
}