.tag {
    display: flex;
    position: absolute;
    left: 15px;
    top: 15px;
    @include font-style (qanelasRegular, 15px, 0px);
    background: $colorTurquoise;
    color: $colorBlack;
    padding: 12px 10px;
    border-radius: 50px;
}

.tag2 {
    text-align: right;
    display: flex;
    position: absolute;
    left: 15px;
    top: 15px;
    @include font-style (qanelasRegular, 15px, 0px);
    background: $colorOrange;
    color: $colorBlack;
    padding: 12px 10px;
    border-radius: 50px;
}

.card {
    
    &__tumb {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../resources/img/card/card-1.png);
        background-repeat: no-repeat;
        height: 100px;
        padding: 50px;
        border-radius: 20px 20px 0px 0px;
        &--category {
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(../resources/img/card/card-1.png);
            background-repeat: no-repeat;
            height: 20px;
            padding: 50px;
            border-radius: 20px 20px 0px 0px;
        }

        &--ticket {
            height: 20px;
            display: block;
            align-items: center;
            justify-content: center;
            background-color: $colorGrey;
            height: 20px;
            padding: 30px;
            border-radius: 20px 20px 0px 0px;
        }




    }

    &__tumb img {
        max-width: 100%;
        max-height: 100%;
    }

    &__ticket {
        margin: 15px;
        background-color: $colorGrey;
        border-radius: 20px 20px 0px 0px;

        &--soldout {
            color: $colorGreyDark;
            background-color: $colorGrey;
            border-radius: 20px 20px 0px 0px;
        }

        &--content {
            padding: 20px 30px 10px 30px;
        }
        
    }

    &__title--link {
        background-color: $colorBlack;
        display: block;
        margin-top: 30px;
        @include font-style (whyte, 20px, 0px);
        color: $colorWhite;
        padding: 0px 15px 0px 15px;
    }

    &__details {
        padding: 0px;
        margin-top: -5px;
        background-color: $colorGrey;
        p {
            font-size: 15px;
            line-height: 25px;
            color: $colorOrange;
            padding: 0px 15px 0px 15px;
            padding-bottom: 10px;
            margin-bottom: 0px;
        }
    }

    &__date {
        display: block;
        @include font-style (qanelasRegular, 12px, 0px);
        color: $colorWhite;
        background-color: $colorBlack;
        text-transform: uppercase;
        padding: 5px;
        padding: 10px 15px 10px 15px;
    }

    &__title {
        &--category {
            margin-top: 0px;
            line-height: 60px;
            font-family: whyte;
            font-size: 20px;
            padding: 0px 15px 0px 15px;
        }
        display: block;
        margin-top: 30px;
        @include font-style (whyte, 20px, 0px);
        color: $colorBlack;
        padding: 0px 15px 0px 15px;
    }

    &__link {
        text-decoration: none;
        color: $colorBlack;
    }

    &__ticket--price {
        margin-left: auto;
        text-align: right;
        color: $colorOrange;

        &--soldout {
            margin-left: auto;
            text-align: right;
            color: $colorGreyDark;
        }
    }

    &__img {

        &--category{
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 120px;
        }


        &--swiper{
            border-radius: 20px 20px 0px 0px;
            width: 100%;
            height: 200px;
            object-fit: cover; 
            object-position: center;
        }
}  
}



