.header__main {
    height: 500px;
        background-image: url(../resources/img/rectangle-331.jpeg);
        background-repeat: no-repeat;
}

.header__logo {
    display: flex;
    @media all and (max-width: 750px) {
        display: block;
    }
    padding: 30px;
}

.header__logo--img {
    min-width: 150px;
    width: 100px;
    height: 25px;    
    padding-right: 20px;
}

.menu__links {
    margin-left: auto;

    @media all and (max-width: 850px) {
        margin-left: 0px;
    }
}

.menu__links a{
    @include font-style (qanelasRegular, 17px, 25px);
    color: $colorBlack;
    padding-left: $padding-medium;
    text-decoration: none;
    &:hover {
        color: $colorOrange;
    } 
}