.newsletter {
    background-image: url(../resources/img/cabeceras/newsletter-img.jpg);
    padding: 60px;
    z-index: -1;
    text-align: center;
    display: flex;

    @media all and (max-width: 760px) {
        padding: 30px;
    }

    &__claim {
        margin-bottom: 0px;
    }

    &__claim2 {
        margin-top: 0px;
        color: $colorOrange;
    }

    &__content {
        background-color: $colorGrey;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        border-radius: 20px 20px 0px 0px;
    }

    &__input {
        width:100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: $unit-medium;
    }

    &__policity {
        margin-top: 30px;
        color: $colorBlack;
        @include font-style (qanelasRegular, 12px, 25px);

        &--link {
            color: $colorBlack;
            
            &:hover {
                color: $colorOrange;
            }
        }
    }
}