.container {
    margin-top: 50px;
  }
  
  .card-row {
      text-align: center;
      padding: $margin-medium 0px;
  }

  #Checkout {
    z-index: 100001;
    width: 50%;
    min-width: 300px;
    height: 100%;
    min-height: 100%;
    background: 0 0 #ffffff;
    border-radius: 8px;
    border: 1px solid #dedede;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  #Checkout>h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    background: #EEF2F4;
    color: #5D6F78;
    font-size: 24px;
    font-weight: 300;
    border-bottom: 1px solid #DEDEDE;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  #Checkout>form {
    margin: 0 25px 25px;
  }
 