.swiper-wrapper {
    padding: 20px 0px 20px 0px;
    z-index: -1;
}

.swiper-slide {
    &:hover {
        box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.45);
        border-radius: 20px 20px 0px 0px;
    }
}

.swiper-button-next, 
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $colorBlack;
    background-color: $colorGrey;
    padding: 20px;
    border-radius: 50%;
}

.swiper-button-next:after, 
.swiper-button-prev:after {
    display: none;
}

.swiper-button-next--primary, 
.swiper-button-prev--primary {
    position: relative;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $colorBlack;
    background-color: $colorGrey;
    padding: 20px;
    border-radius: 50%;
}

.swiper-button-next--primary:after, 
.swiper-button-prev--primary:after {
    display: none;
}

.swiper-title {
    width: 88%;
}

.swiper {
    margin-top: 30px;
    padding: 0px 0px;
    overflow: hidden;
    width: 88%;
    z-index: 0;
}

.swiper2 {
    margin-top: 30px;
    padding: 0px 0px;
    overflow: hidden;
    width: 88%;
    z-index: 0;
}


.swiper__arrow {
    padding-top: 5px;
}

:root {
    --swiper-navigation-size: 15px;
    --swiper-weight: 400px;
}